.moji{
    display:grid;
    height: 100vh;
    grid-template-columns: 200px  50px 200px 200px ;
   grid-template-rows:  100px 100px ;
    grid-template-areas: 
    "gif re   mtimg mt"
    "gif  ra mtimg mt"
    
    
    ;

    grid-gap: 0.2rem;
    
}


#Gif{
    grid-area: gif;
    padding: 0%;

    
    
    
    }
#Gif img{
    width: 200px;
    height: 203.9px;
   text-align: center;

 

}
#Gif button{
    padding: 0;
border: none;
margin:0 ;
background: none;
  

}
    #RE{
    grid-area: re;
    border: lightslategray 1px solid;

    }
    #RA{
    grid-area: ra;
    border: lightslategray 1px solid;

    
    }
    #MT{
    grid-area: mt;
    border: lightslategray 1px solid;
    direction: rtl;

        
    }
    #MTimg{
    grid-area: mtimg;
    border: lightslategray 1px solid;
    }
    #MTimg img{
        width: 200px;
    height: 203.9px;
    }
    
    




 @media Only screen and (max-width:550px)
{
    .moji{
        grid-template-columns: 1fr 1fr  ;
        grid-template-rows: 2fr 1fr 2fr 1fr  ;
        grid-template-areas: 
        "gif gif  "
        "re ra"
        "mtimg mtimg"
        "mt mt"
       
        ;


    }
    #Gif img{
        width: auto;
        height: auto;

    }
    #MTimg img{
      width:   320px;
     height:    300px;
    }
}